<a href="http://elefint.com" title="Elefint" target="_blank" class="elefintlogo">
  <!--[if gte IE 9]><!-->
  <div class="elefint-mark">
   {% include 'views/svg/elefint-mark.svg' %}
    <span class="mark-text">Designed By <br> <b>Elefint Designs</b></span>
</div>
</a>