/** Susy Based Layout **/
@import "susy";
@import "breakpoint";

$susy: (
  columns: 12,
  gutters: 8/11,
  math: fluid,
  output: isolate,
  gutter-position: after,
);

// $widegrid: (
//   columns: 12,
//   gutters: 1/12,
//   math: fluid,
//   output: isolate,
//   gutter-position: split,
// );

$container: 1180px;
$container-breakpoint: max-width $container;
$mobile: max-width 820px;
$desktop: 820px;

@include breakpoint($desktop) {
	.mobile { display: none !important; }
}

@include breakpoint($mobile) {
	.desktop { display: none !important; }
}

html body {
	width: 100%;
	overflow-x: hidden;
}

.wrap {
	position: relative;
}

.container{

	position: relative;
	@include container($container);

	@include breakpoint($mobile){
		max-width: 85% !important;
	}
	@include breakpoint($container-breakpoint){
		max-width: 95% !important;
	}
	@include clearfix;
}

.span-1{
	@include span(1);
}
.span-2{
	@include span(2);
}
.span-3{
	@include span(3);
}
.span-4{
	@include span(4);
}
.span-5{
	@include span(5);
}
.span-6{
	@include span(6);
}
.span-7{
	@include span(7);
}
.span-8{
	@include span(8);
}
.span-9{
	@include span(9);
}
.span-10{
	@include span(10);
}
.span-11{
	@include span(11);
}
.span-12{
	@include span(12);
}

*[class^="span-"].last{
	margin-right: 0;
}