/* Base Styles... A Spark "Reset" */
$container: 1180px;

html body {
  box-sizing: border-box;
  font-family: "Helvetica";
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container { 
	position: relative;
	display: block;
	width: 100%;
	max-width: $container;
	margin: auto;
}