<footer>
	<section class="wrap no-padding">
		<div class="footer-bottom">
			<div class="container">
				{# {% include 'views/plugs/elefint.html.twig' %} #}
				<span class="copyright"> &copy; {{ site.name }}, 
					<script language="JavaScript" type="text/javascript">
					    now = new Date
					    theYear=now.getYear()
					    if (theYear < 1900)
					    theYear=theYear+1900
					    document.write(theYear)
					</script>
				</span>
			</div>
		</div>
	</section>
</footer>