<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
        <link rel="stylesheet" href="../../../style.css">
    </head>
    <body>
        <div class="screens">
            <section class="whatwedo-main">
                <div class="panel-frame">
                    <div class="home-panel">
                        <div class="heading">What We Do</div>
                        <p class="section-description">
                            Whether it be open space, farms or parkland, POST is dedicated to protecting and insuring the care of these properties forever. We do this in partnership with a variety of public and private agencies and foundations, and though the generous support of our donors.
                        </p>
                        <h2>The Type of Spaces</h2>
                        <nav class="type-nav">
                            <ul>
                                <li><img src=""/><span>Farmland</span></li>
                                <li><img src=""/><span>Parkland</span></li>
                                <li><img src=""/><span>Coastal Land</span></li>
                                <li><img src=""/><span>Bayland</span></li>
                                <li><img src=""/><span>Redwoods</span></li>
                                <li><img src=""/><span>Rangeland</span></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="category-panel">
                        <button class="back"></button>
                        <div class="heading">What We Do<img src=""/></div>
                        <p class="section-description">
                            Whether it be open space, farms or parkland, POST is dedicated to protecting and insuring the care of these properties forever. We do this in partnership with a variety of public and private agencies and foundations, and though the generous support of our donors.
                        </p>
                        <h2>The Type of Spaces</h2>
                        <nav class="category-nav">
                            <ul>
                                <li><img src=""/><span>Property Name</span></li>
                                <li><img src=""/><span>Property Name</span></li>
                                <li><img src=""/><span>Property Name</span></li>
                                <li><img src=""/><span>Property Name</span></li>
                                <li><img src=""/><span>Property Name</span></li>
                                <li><img src=""/><span>Property Name</span></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="property-panel">
                        <button class="close"></button>
                        <div class="heading"><img src=""/></div>
                        <h2>Project/Property Name</h2>
                        <ul class="info">
                            <li class="location">Location</li>
                            <li class="website">Property Website</li>
                        </ul>
                        <div class="content">
                            <p>Project/Property description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec arcu risus, mollis ac nunc non, eleifend egestas lectus. Praesent ut accumsan erat. Nullam imperdiet tempus neque a laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis nulla nulla. Mauris vel ex metus. Nam suscipit tellus egestas interdum luctus.</p>
                            <div class="gallery"></div>
                        </div>
                        <nav class="property-pager">
                            <ul>
                                <li class="previous">Previous Propery</li>
                                <li class="next">Next Propery</li>
                            </ul>
                        </nav>
                        <div class="donation">
                            <h4>Help us continue to protect and care for spaces like these.</h4>
                            <a class="donate-now">Donate Now</a>
                        </div>
                    </div>
                </div>
                <div class="map-explore">
                    
                </div>
            </section>
        </div>
    </body>
</html>
