<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../normalize.css">
    <link rel="styleshset" href="../main.css">    
    <link rel="stylesheet" href="../../style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/kaw3hof.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
<body>
  <header class="small-header">
    <div class="left-icon"></div>
    <div class="right-menu">
      <p>contact us</p>
      <button>donate</button>
      <img src="">
    </div>
  </header>
  <ul class="menu">
    <li class="menu-links"><a href=""></a>what we do</li>
    <li class="menu-links"><a href=""></a>about us</li>
    <li class="menu-links"><a href=""></a>news</li>
    <li class="menu-links"><a href=""></a>get involved</li>
    <li class="menu-links"><a href=""></a>ways to give</li>                
  </ul>  
  <div class="contact-page-hero hero">
    <div class="contact-page container">
      <div class="contact-hero-content span-2">contact us</div>
    </div>
  </div>

  <div class="container">
    <section class="contact-section-one span-12">
      <h5 class="contact-section-message span-3">send us a message</h5>
      <form id="input-wrapper span-8">
        <input type="text" name="firstname" placeholder="First Name" id="text">
        <input type="text" name="lastname" placeholder="Last Name" id="text">
        <input type="text" name="email" placeholder="Email Address" id="text">
        <textarea name="yourmessage" placeholder="Your Message"></textarea>
        <button class="subscribe-button">send message</button>
        <input type="checkbox" name="addme">Please add me to POST's monthly email newsletter.<br>
      </form>
      <div class="contact-media span-12">
        <h5 class="media-heading span-4">or say hello on social media</h5>
        <div class="facebook-space span-4"></div>
        <div class="twitter-space span-4"></div>
        <div class="instagram-space span-4"></div>
      </div>
      <div class="contact-directions span-12">
        <div class="contact-map map span-8"></div>
        <div class="contact-written-directions span-4">Peninsula Open Space Trust (POST)<br> 222 High Street<br>Palo Alto, CA 94301<br>Get Directions<br>Phone: (650)854-7696<br>Fax: (650) 854-7703<br></div>
      </div>
      <div class="donate-now span-12">
        <p>Help us protect and care for open space, farms and parkland in and around Silicon Valley.</p>
        <button class="donate-button">donate now</button>
      </form>
      </div> 
    </section>
  </div>

  <div class="footer-section span-12">
    <div class="footer-top">
      <h5>Stay in touch</h5>
      <ul class="social-icons">
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>                         
      </ul>
    </div>
    <div class="footer-center">
      <div class="subscribe-now span-6">
        <h5>Subscribe to our newsletter</h5>
        <form id="input-wrapper">
          <input type="text" name="firstname" placeholder="First Name" id="text">
          <input type="text" name="lastname" placeholder="Last Name" id="text">
          <input type="text" name="email" placeholder="Email address" id="text">
          <button class="subscribe-button">Subscribe now</button>
        </form>
      </div>
      <div class="info-post">
        <h5>Peninsula open space trust</h5>
        <p>222 High Street, Palo Alto, CA 94301<br>T: (650) 854-7696 F: (650)854-7703</p>
        <div class="footer-icons">
          <img src="">
          <img src="">
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-links">
        <a href="">Sitemap</a>
        <a href="">Site Credits</a>
        <a href="">Privacy Policy</a>
      </div>
      <p>C 2015 POST, All rights reserved</p>
      <div class="elefint-logo">
        <img src="">
      </div>
    </div>
  </div>

</body>