<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/kaw3hof.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
<body>
  <header class="small-header">
    <div class="left-icon"></div>
    <div class="right-menu">
      <p>contact us</p>
      <button>donate</button>
      <div class="magnifying">
        <img src="">
      </div?>
      <div class="hamburger">
        <img src="">
      </div>
    </div>
  </header>
  <ul class="menu">
    <li class="menu-links"><a href=""></a>what we do</li>
    <li class="menu-links"><a href=""></a>about us</li>
    <li class="menu-links"><a href=""></a>news</li>
    <li class="menu-links"><a href=""></a>get involved</li>
    <li class="menu-links"><a href=""></a>ways to give</li>                
  </ul> 
  <div class="default-page-hero hero">
    <div class="default-page container">
      <h1>page title</h1>
      <h1 class="mobile-subheading-only">carousel headline that takes up one or two lines.</h1>
      <a>A subheading that entices the user to follow this link by cliking here</a>
    </div>
  </div>

  <div class="container">
    <section class="default-main span-12">
      <div class="default-section-one span-8">
        <h2 class="default-level-two">Headline Level 2</h2>
        <p class="default-paragraph">In 1977, ten visionaries-all local residents who cared deeply about the land-launched the Peninsula Open Space Trust in Menlo Park, Calif. POST was conceived to work in partnership with a then five-year-old public agency called the Midpeninsula Regional Open Space District (MROSD).</p>
        <blockquote>"This is a block quote. Young professionals are city-centric. They want to be involved, make a difference, but they are constantly distracted by white noise and pulled in lots of different directions."</blockquote>
        <p class="block-quote-author">-David, POST Supporter</p>
      </div>
      <div class="default-section-two span-8">
        <div class="default-first-column span-5">
          <h3 class="default-level-three">Headline Level 3</h3>
          <p class="default-paragraph">True to their word, POST's founders created a nimble, fast-acting, independent organization that would save threatened land by way of bold vision, entrepreneurial instincts and gutsy resolve. POST has since saved over 75,000 acres of open space from South San Francisco to Gilroy.</p>
          <ul>
            <li>Corporate Matching</li>
            <li>Monthly Giving</li>
            <li>Planned Giving</li>
            <li>Giving Societies</li>
          </ul>
        </div>
        <div class="default-image span-3">
          <img src="">
          <figcaption>Photo caption: On tablet and desk-top, you can float an image to the left or right margin instead of displaying it full-width.</figcaption>
        </div>
      </div>
      <div class="default-section-three span-8">
        <h5 class="default-level-four">Headline Level 4</h5>
        <p class="default-paragraph">Today, POST works closely not only with MROSD and private landowners, but with national, state and county park systems and other agencies to create strong, effective partnerships on behalf of local natural lands.</p>
        <ol>
          <li>Land Campaigns</li>
          <li>Bair Island</li>
          <li>Bolsa Point Ranches</li>
          <li>San Vicente Redwoods<br> (formerly CEMEX Redwoods)</li>
        </ol>
      </div>
      <div class="default-big-images span-10">
        <div class="default-image-one">
          <img src="">
          <figcaption>Photo caption: This is an embedded image. You will have the option to link to the full image in a lightbox. On desktop, you will also be able to float the image left or right.</figcaption>
        </div>
        <div class="default-image-two">
          <img src="">
        </div>
      </div>
      <div class="default-small-double span-8">
        <h5 class="gallery-heading">Photo Gallery</h5>
        <p class="gallery-paragraph">We will install a plugin that will allow you to embed Flickr photos in a responsive gallery. Clicking an image will open it in a lightbox.</p>
        <div class="double-images">
          <img src="">
          <img src="">
      </div>
      <div class="default-big-images two span-10">
        <img src="">
      </div>
      <div class="default-small-double span-8">
        <div class="double-images">
          <img src="">
          <img src="">
        </div>
      </div>
      <div class="donate-now span-12">
        <p>Help us protect and care for open space, farms and parkland in and around Silicon Valley.</p>
        <button>Donate Now</button>
      </div>  
    </section>
  </div>

  <div class="footer-section span-12">
    <div class="footer-top">
      <h5>Stay in touch</h5>
      <ul class="social-icons">
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>                         
      </ul>
    </div>
    <div class="footer-center">
      <div class="subscribe-now span-6">
        <h5>Subscribe to our newsletter</h5>
        <form id="input-wrapper">
          <input type="text" name="firstname" placeholder="First Name" id="text">
          <input type="text" name="lastname" placeholder="Last Name" id="text">
          <input type="text" name="email" placeholder="Email address" id="text">
          <button class="subscribe-button">Subscribe now</button>
        </form>
      </div>
      <div class="info-post">
        <h5>Peninsula open space trust</h5>
        <p>222 High Street, Palo Alto, CA 94301<br>T: (650) 854-7696 F: (650)854-7703</p>
        <div class="footer-icons">
          <img src="">
          <img src="">
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-links">
        <a href="">Sitemap</a>
        <a href="">Site Credits</a>
        <a href="">Privacy Policy</a>
      </div>
      <p>C 2015 POST, All rights reserved</p>
      <div class="elefint-logo">
        <img src="">
      </div>
    </div>
  </div>

</body>