<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/kaw3hof.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
<body>
  <header class="small-header">
    <div class="left-icon"></div>
    <div class="right-menu">
      <p>contact us</p>
      <button>donate</button>
      <img src="">
    </div>
  </header>
  <ul class="menu">
    <li class="menu-links"><a href=""></a>what we do</li>
    <li class="menu-links"><a href=""></a>about us</li>
    <li class="menu-links"><a href=""></a>news</li>
    <li class="menu-links"><a href=""></a>get involved</li>
    <li class="menu-links"><a href=""></a>ways to give</li>                
  </ul>  
  <div class="donate-page-hero hero">
    <div class="default-page container">
      <div class="donate-hero-heading span-6">
        <h2>help protect open space</h2>
        <p>Your support will help protect our scenic, natural lands for today and for future generations. </p>
      </div>
      <div class="donate-hero-donation span-8">
        <h5 class="donation-heading span-3">my donation amount</h5>
        <div class="donation-amounts">
          <p>$50</p>
          <p>$100</p>
          <p>$500</p>
          <p>$1,000*</p>
          <p>$5,000*</p>
          <p>$Other</p>
        </div>
        <p>Receive invitations to exclusive walks & talks</p>
        <div class="give-section">
          <button class="give-now">give now</button>
          <input type="checkbox" name="repeat">Yes! Automatically repeat this gift every month.<br>
          <input type="checkbox" name="memory">My gift is in honor or memory of a loved one.<br>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <section class="donate-section-one span-12">
      <div class="donate-tribute span-6">
        <div class="donate-choices span-8">
          <h5>tribute gift information</h5>
          <p>My gift is in</p><input type="radio">honor<input type="radio">memory of:<input type="text" name="tributenames" placeholder="Tribute Name(s)" id="text">
          <p>Please send a notification card to:</p>
          <input type="text span-4" name="name" placeholder="Name" id="text">
          <input type="text span-4" name="address" placeholder="Address" id="text">
          <input type="text span-4" name="city" placeholder="City" id="text">
          <input type="text span-2" name="state" placeholder="State" id="text">
          <input type="text span-2" name="zipcode" placeholder="Zipcode" id="text">
          <textarea class="tribute-message span-8">Your Tribute Message</textarea> 
          <p>If you would like to notify more than one person of your gift, please call POST at (650) 854-7696 x334.</p>
          <button class="personal-info">next: personal information</button>
        </div>
      </div>
    </section>
  </div>

  <div class="footer-section span-12">
    <div class="footer-top">
      <h5>Stay in touch</h5>
      <ul class="social-icons">
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>                         
      </ul>
    </div>
    <div class="footer-center">
      <div class="subscribe-now span-6">
        <h5>Subscribe to our newsletter</h5>
        <form id="input-wrapper">
          <input type="text" name="firstname" placeholder="First Name" id="text">
          <input type="text" name="lastname" placeholder="Last Name" id="text">
          <input type="text" name="email" placeholder="Email address" id="text">
          <button class="subscribe-button">Subscribe now</button>
        </form>
      </div>
      <div class="info-post">
        <h5>Peninsula open space trust</h5>
        <p>222 High Street, Palo Alto, CA 94301<br>T: (650) 854-7696 F: (650)854-7703</p>
        <div class="footer-icons">
          <img src="">
          <img src="">
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-links">
        <a href="">Sitemap</a>
        <a href="">Site Credits</a>
        <a href="">Privacy Policy</a>
      </div>
      <p>C 2015 POST, All rights reserved</p>
      <div class="elefint-logo">
        <img src="">
      </div>
    </div>
  </div>

</body>