<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/kaw3hof.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
<body>
  <header class="small-header">
    <div class="left-icon"></div>
    <div class="right-menu">
      <p>contact us</p>
      <button>donate</button>
      <img src="">
    </div>
  </header>
  <ul class="menu">
    <li class="menu-links"><a href=""></a>what we do</li>
    <li class="menu-links"><a href=""></a>about us</li>
    <li class="menu-links"><a href=""></a>news</li>
    <li class="menu-links"><a href=""></a>get involved</li>
    <li class="menu-links"><a href=""></a>ways to give</li>                
  </ul>  
  <div class="events-page-hero hero">
    <div class="events-page container">
      <div class="events-hero-content span-6">
        <h2>featured event title</h2>
        <p class="event-location"></p>
        <p class="date"></p>
      </div>
    </div>
  </div>

  <div class="container">
    <section class="events-section-one span-12">
      <div class="events-tabs span-8">
        <h5 class="left-tab">view upcoming events</h5>
        <h5 class="right-tab">past events</h5>
      </div>
      <div class="events-area span-12">
        <div class="event-descriptions span-10">
          <img src="" class="round-images span-2">
          <div class="top-info span-8">
            <div class="left-side">
              <p class="date"></p>
              <p class="event-title"></p>
            </div>
            <div class="right-side">
              <p class="event-location"></p>
              <p class="event-time"></p>
              <p class="event-price"></p>
            </div>
          </div>
          <div class="bottom-info span-8">
            <p>Optional event description. If no description is entered, clicking on an event will take you to the URL for the event details and RSVP (on Eventbrite for example).</p>
          </div>

        </div>
        <div class="learn-more span-2">
          <button type="rsvp">Learn More & RSVP</button>
        </div>
      </div>
      <div class="subscribe-newsletter span-12">
        <h5 class="subscribe-heading span-3">don't miss a single event</h5>
        <p class="subscribe-paragraph span-8">Subscribe to our newsletter to learn about upcoming events and what POST is doing to protect and care for open space.</p>
        <div class="input-fields span-12">
          <input type="text" placeholder="First Name">
          <input type="text" placeholder="Last Name">
          <input type="text" placeholder="Email Address span-7">
          <button class="subscribe-button">subscribe now</button>
        </div>
      </div>
      <div class="explore-hikes span-12">
        <p>Enjoy open spaces anytime with a self-guided hike on one of many POST-protected lands.</p>
        <button class="explore">explore hikes</button>
      </div>
    </section>
  </div>

  <div class="footer-section span-12">
    <div class="footer-top">
      <h5>Stay in touch</h5>
      <ul class="social-icons">
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>                         
      </ul>
    </div>
    <div class="footer-center">
      <div class="subscribe-now span-6">
        <h5>Subscribe to our newsletter</h5>
        <form id="input-wrapper">
          <input type="text" name="firstname" placeholder="First Name" id="text">
          <input type="text" name="lastname" placeholder="Last Name" id="text">
          <input type="text" name="email" placeholder="Email address" id="text">
          <button class="subscribe-button">Subscribe now</button>
        </form>
      </div>
      <div class="info-post">
        <h5>Peninsula open space trust</h5>
        <p>222 High Street, Palo Alto, CA 94301<br>T: (650) 854-7696 F: (650)854-7703</p>
        <div class="footer-icons">
          <img src="">
          <img src="">
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-links">
        <a href="">Sitemap</a>
        <a href="">Site Credits</a>
        <a href="">Privacy Policy</a>
      </div>
      <p>C 2015 POST, All rights reserved</p>
      <div class="elefint-logo">
        <img src="">
      </div>
    </div>
  </div>

</body>