<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/kaw3hof.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
<body>
  <header class="small-header">
    <div class="left-icon"></div>
    <div class="right-menu">
      <p>contact us</p>
      <button>donate</button>
      <img src="">
    </div>
  </header>
  <ul class="menu">
    <li class="menu-links"><a href=""></a>what we do</li>
    <li class="menu-links"><a href=""></a>about us</li>
    <li class="menu-links"><a href=""></a>news</li>
    <li class="menu-links"><a href=""></a>get involved</li>
    <li class="menu-links"><a href=""></a>ways to give</li>                
  </ul>  
  <div class="involved-page-hero hero">
    <div class="involved-page container">
      <div class="involved-hero-heading span-6">
        <h2 class="involved-heading span-3">get involved</h2>
        <p class="involved-paragraph span-6">POST offers a variety of activities for people to engage with nature and experience the land.</p>
      </div>
      <div class="sign-up span-8">
        <h5>sign up for our newsletter</h5>
        <form id="input-wrapper">
          <input type="text" name="firstname" placeholder="First Name" class="first span-4">
          <input type="text" name="lastname" placeholder="Last Name" class="last span-4">
          <input type="text" name="email" placeholder="Email address" class="email span-8">
          <button class="subscribe-button">Subscribe now</button>
          <div class="follow-section span-8">
            <h5>and follow us for updates</h5>
            <ul class="socials">
              <li><a href="" class="twitter-icon"></a></li>
              <li><a href="" class="facebook-icon"></a></li>
              <li><a href="" class="linkedin-icon"></a></li>
              <li><a href="" class="instagram-icon"></a></li>
              <li><a href="" class=""></a></li>
              <li><a href="" class=""></a></li>
              <li><a href="" class="google-icon"></a></li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <section class="involved-section-one span-12">
      <div class="involved-heading span-8">
        <h5>take a hike</h5>
        <p>Enjoy a self-guided hike on one of many POST-protected lands or join us for one of our exclusive POST Walks & Talks.</p>
      </div>
      <div class="involved-tabs span-8">
        <h5 class="left">self-guided hikes</h5>
        <h5 class="right">post walks & talks</h5>
      </div>
    </section>
  </div>

  <div class="container">
    <section class="involved-section-two span-12">
      <div class="image-gallery span-12">
        <h5 class="gallery-heading span-2">featured hikes</h5>
        <a href="" class="view-all span-2">View All Hikes</a>
        <div class="individual-images">
          <div class="current-image">
            <img src="">
            <h6>hike</h6>
            <p class="location">Bair Island</p>
            <p class="location-pin">Redwood City</p>
          </div>
        </div>
        <div class="individual-images">
          <div class="next-image">
            <img src="">
            <h6>stroll</h6>
            <p class="location">Cowell Ranch Beach</p>
            <p class="location-pin">Half Moon Bay</p>
          </div>
        </div>
      </div>
      <div class="events-area span-12">
        <div class="single-event">
          <div class="event-descriptions span-9">
            <img src="" class="round-images span-2">
            <div class="top-info span-7">
              <div class="left-side">
                <p class="date"></p>
                <p class="event-title"></p>
              </div>
              <div class="right-side">
                <p class="event-location"></p>
                <p class="event-time"></p>
                <p class="event-price"></p>
              </div>
            </div>
            <div class="bottom-info span-7">
              <p>Optional event description. If no description is entered, clicking on an event will take you to the URL for the event details and RSVP (on Eventbrite for example).</p>
            </div>
          </div>
          <div class="learn-more span-3">
            <button type="rsvp">Learn More & RSVP</button>
          </div>
        </div>
        <div class="single-event">
          <div class="event-descriptions span-9">
            <img src="" class="round-images span-2">
            <div class="top-info span-7">
              <div class="left-side">
                <p class="date"></p>
                <p class="event-title"></p>
              </div>
              <div class="right-side">
                <p class="event-location"></p>
                <p class="event-time"></p>
                <p class="event-price"></p>
              </div>
            </div>
            <div class="bottom-info span-7">
              <p>Optional event description. If no description is entered, clicking on an event will take you to the URL for the event details and RSVP (on Eventbrite for example).</p>
            </div>
          </div>
          <div class="learn-more span-3">
            <button type="rsvp">Learn More & RSVP</button>
          </div>
        </div>        
        <div class="single-event">
          <div class="event-descriptions span-9">
            <img src="" class="round-images span-2">
            <div class="top-info span-7">
              <div class="left-side">
                <p class="date"></p>
                <p class="event-title"></p>
              </div>
              <div class="right-side">
                <p class="event-location"></p>
                <p class="event-time"></p>
                <p class="event-price"></p>
              </div>
            </div>
            <div class="bottom-info span-7">
              <p>Optional event description. If no description is entered, clicking on an event will take you to the URL for the event details and RSVP (on Eventbrite for example).</p>
            </div>
          </div>
          <div class="learn-more span-3">
            <button type="rsvp">Learn More & RSVP</button>
          </div>
        </div>
        <div class="single-event">
          <div class="event-descriptions span-9">
            <img src="" class="round-images span-2">
            <div class="top-info span-7">
              <div class="left-side">
                <p class="date"></p>
                <p class="event-title"></p>
              </div>
              <div class="right-side">
                <p class="event-location"></p>
                <p class="event-time"></p>
                <p class="event-price"></p>
              </div>
            </div>
            <div class="bottom-info span-7">
              <p>Optional event description. If no description is entered, clicking on an event will take you to the URL for the event details and RSVP (on Eventbrite for example).</p>
            </div>
          </div>
          <div class="learn-more span-3">
            <button type="rsvp">Learn More & RSVP</button>
          </div>
        </div>                
      </div>
      <div class="volunteer-call-section span-12">
        <h5 class="volunteer-heading span-3">volunteer with post</h5>
        <div class="double-columns">
          <img src="" class="left-column span-6"/>
          <div class="right-column span-6">
            <p>Volunteering your time is a valuable contribution to our work protecting the local lands we all love.</p>
            <ul class="volunteer ops"><p>Volunteer Opportunities</p>
              <li><a href="">Conservation Easement Monitors</a></li>
              <li><a href="">Open Space Guardians</a></li>
              <li><a href="">Outreach</a></li>
              <li><a href="">Stewardship</a></li>
            </ul>
            <button class="apply-button">apply to volunteer</button>
          </div>
        </div>
      </div>
      <div class="donate-now span-12">
        <p class="donate-heading span-6">Help us protect and care for open space, farms and parkland in and around Silicon Valley.</p>
        <button class="donate-button">donate now</button>
      </div>
    </section>
  </div>

  <div class="footer-section span-12">
    <div class="footer-top">
      <h5>Stay in touch</h5>
      <ul class="social-icons">
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>                         
      </ul>
    </div>
    <div class="footer-center">
      <div class="subscribe-now span-6">
        <h5 class="subscribe-heading span-4">Subscribe to our newsletter</h5>
        <form id="input-wrapper span-6">
          <input type="text" name="firstname" placeholder="First Name">
          <input type="text" name="lastname" placeholder="Last Name">
          <input type="text" name="email" placeholder="Email address">
          <button class="subscribe-button">Subscribe now</button>
        </form>
      </div>
      <div class="info-post span-3">
        <h5>Peninsula open space trust</h5>
        <p>222 High Street, Palo Alto, CA 94301<br>T: (650) 854-7696 F: (650)854-7703</p>
        <div class="footer-icons">
          <img src="">
          <img src="">
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-links">
        <a href="">Sitemap</a>
        <a href="">Site Credits</a>
        <a href="">Privacy Policy</a>
      </div>
      <p>C 2015 POST, All rights reserved</p>
      <div class="elefint-logo">
        <img src="">
      </div>
    </div>
  </div>

</body>