<div class="footer-section span-12">
  <div class="footer-top">
    <h5>Stay in touch</h5>
    <ul class="social-icons">
      <li class="social">
        <a href="">
          <img src="">
        </a>
      </li>
      <li class="social">
        <a href="">
          <img src="img/social/Facebook.png" alt="Facebook icon" height="23px" width="12px";>
        </a>
      </li>
      <li class="social">
        <a href="">
          <img src="img/social/Twitter.png" alt="Twitter icon" height="18px" width="22px";>
        </a>
      </li>
      <li class="social">
        <a href="">
          <img src="img/social/linkedin.png" alt="Linked In icon" height="22px" width="21px";>
        </a>
      </li>
      <li class="social">
        <a href="">
          <img src="">
        </a>
      </li>
      <li class="social">
        <a href="">
          <img src="">
        </a>
      </li>
      <li class="social">
        <a href="">
          <img src="">
        </a>
      </li>                         
    </ul>
  </div>
  <div class="footer-center">
    <div class="subscribe-now span-6">
      <h5>Subscribe to our newsletter</h5>
      <form id="input-wrapper">
        <input type="text" name="firstname" placeholder="First Name" id="text">
        <input type="text" name="lastname" placeholder="Last Name" id="text">
        <input type="text" name="email" placeholder="Email address" id="text">
        <button class="subscribe-button">Subscribe now</button>
      </form>
    </div>
    <div class="info-post">
      <h5>Peninsula open space trust</h5>
      <p>222 High Street, Palo Alto, CA 94301<br>T: (650) 854-7696 F: (650)854-7703</p>
      <div class="footer-icons">
        <img src="">
        <img src="">
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-links">
      <a href="">Sitemap</a>
      <a href="">Site Credits</a>
      <a href="">Privacy Policy</a>
    </div>
    <p>C 2015 POST, All rights reserved</p>
    <div class="elefint-logo">
      <img src="">
    </div>
  </div>
</div>