<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/kaw3hof.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
<body>
  <header class="small-header">
    <div class="left-icon"></div>
    <div class="right-menu">
      <p>contact us</p>
      <button>donate</button>
      <img src="">
    </div>
  </header>
  <ul class="menu">
    <li class="menu-links"><a href=""></a>what we do</li>
    <li class="menu-links"><a href=""></a>about us</li>
    <li class="menu-links"><a href=""></a>news</li>
    <li class="menu-links"><a href=""></a>get involved</li>
    <li class="menu-links"><a href=""></a>ways to give</li>                
  </ul>  
  <div class="hikes-page-hero hero">
    <div class="events-page container">
      <div class="self-guided-hikes span-3">
        <button class="self-guided">Self-Guided Hikes</button>
      </div>
      <div class="hike-featured span-3">
        <h5>easy with one steep section</h5>
        <h2 class="hike-name">hike name</h2>
        <p class="hike-location">Hike Location</p>
      <div>
    </div>
  </div>

  <div class="container">
    <section class="hikes-section-one span-12">
      <div class="hikes-teaser-columns span-8">
        <div class="hikes-descriptions span-4"></div>
        <div class="hikes-icons span-4"></div>
      </div> 
      <div class="hikes-teaser-paragraph span-8">
        <p>A brief teaser about this hike. An iconic spot along the California coastline, Pigeon Point Light Station Historic Park is home to several attractions, including Pigeon Point lighthouse, Whaler's Cove and Mel's Lane, a quarter-mile segment of the California Coastal Trail.</p>
      </div>
      <div class="hikes-map span-8"></div>
      <div class="hikes-more-info span-8">
        <h5>more about this hike</h5>
        <p>Once slated for a housing development replete with golf course, 996-acre Rancho San Vicente was purchased by POST from private developers in 2009 and transferred to the Santa Clara County Parks and Recreation Department that same year. Rancho San Vicente is a key link between Almaden Quicksilver and Calero county parks, with the potential to connect more than 31,000 acres of surrouding open space and parkland. The property is not officially open to the public, but this spring and summer you can see stunning wildflowers and rare serpentine soils on special docent-led tours offered by Santa Clara County Parks. The tours are free. For more information and reservations, call (408) 355-2240.</p>
        <p class="short-excerpt-intro"><bold>Keep an eye out for:</bold></p>
        <p>Fields of poppies, silver puffs, popcorn flowers and birdseye gilia, rare Bay Checkerspot butterflies, panoramic views.</p>
        <div class="Hike-social">  
          <ul class="social-icons">
            <li><a href=""><img=""></a></li>
            <li><a href=""><img=""></a></li>
            <li><a href=""><img=""></a></li>
          </ul>
          <h5>share this hike</h5>
        </div>
      </div>
      <div class="comments span-8"></div>
      <div class="image-gallery span-12">
        <div class="individual-images">
          <div class="current-image">
            <img src="">
            <h6>easy</h6>
            <p class="location">Cowell Park Beach</p>
            <p class="location-pin">Hike Location</p>
          </div>
        </div>
        <div class="individual-images">
          <div class="next-image">
            <img src="">
            <h6>moderate</h6>
            <p class="location">Audrey's Way at Mindego</p>
            <p class="location-pin">Hike Location</p>
          </div>
        </div>
      <div class="download-now span-12"></div>
 


  <div class="footer-section span-12">
    <div class="footer-top">
      <h5>Stay in touch</h5>
      <ul class="social-icons">
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>                         
      </ul>
    </div>
    <div class="footer-center">
      <div class="subscribe-now span-6">
        <h5>Subscribe to our newsletter</h5>
        <form id="input-wrapper">
          <input type="text" name="firstname" placeholder="First Name" id="text">
          <input type="text" name="lastname" placeholder="Last Name" id="text">
          <input type="text" name="email" placeholder="Email address" id="text">
          <button class="subscribe-button">Subscribe now</button>
        </form>
      </div>
      <div class="info-post">
        <h5>Peninsula open space trust</h5>
        <p>222 High Street, Palo Alto, CA 94301<br>T: (650) 854-7696 F: (650)854-7703</p>
        <div class="footer-icons">
          <img src="">
          <img src="">
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-links">
        <a href="">Sitemap</a>
        <a href="">Site Credits</a>
        <a href="">Privacy Policy</a>
      </div>
      <p>C 2015 POST, All rights reserved</p>
      <div class="elefint-logo">
        <img src="">
      </div>
    </div>
  </div>

</body>