<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/kaw3hof.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
<body>
  <header class="small-header">
    <div class="left-icon"></div>
    <div class="right-menu">
      <p>contact us</p>
      <button>donate</button>
      <img src="">
    </div>
  </header>
  <ul class="menu">
    <li class="menu-links"><a href=""></a>what we do</li>
    <li class="menu-links"><a href=""></a>about us</li>
    <li class="menu-links"><a href=""></a>news</li>
    <li class="menu-links"><a href=""></a>get involved</li>
    <li class="menu-links"><a href=""></a>ways to give</li>                
  </ul>  
  <div class="home-page-hero hero">
    <div class="home-page container">
      <div class="home-hero-content span-6">
        <p>POST protects and cares for open space, farms and parkland in and around Silicon Valley.</p>
        <button class="left-button span-3">see what we do</button>
        <button class="right-button span-3">support our work</button>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="featured-news-slider span-12">
    </div>
    <div class="Whats-new span-12">
      <div class="home-images span-6">
        <img src=""/>
        <img src=""/>
        <img src=""/>
        <img src=""/>
      </div>
      <div class="picture-descriptions span-6">
        <div class="single-description">
          <h5 class="first">Hikes</h5>
          <h5 class="subheading">Reconnecting the Dots: An Earth Month Reflection</h5>
          <p>Post excerpt, which can be customized or use the beginning of the post, I visited Ed Levin County Park in Milipitas for the first time in years. While others may not loreum ipsum dolor sit amer del consecteteur del...</p>
        </div>
        <div class="single-description">
          <h5 class="first">agriculture</h5>
          <h5 class="subheading">Celebrating Caesar Chavez Day with POST-Protected Farms</h5>
          <p>Post excerpt, which can be customized or use the beginning of the post, I visited Ed Levin County Park in Milipitas for the first time in years. While others may not loreum ipsum dolor sit amer del consecteteur del...</p>
        </div>
        <div class="single-description">
          <h5 class="first">heart of the redwoods</h5>
          <h5 class="subheading">5 Reasons Why Redwoods Are the Coolest</h5>
          <p>Post excerpt, which can be customized or use the beginning of the post, I visited Ed Levin County Park in Milipitas for the first time in years. While others may not loreum ipsum dolor sit amer del consecteteur del...</p>
        </div>
        <div class="single-description">
          <h5 class="first">post news</h5>
          <h5 class="subheading">Chef and Farmer Dan Barber Discusses the Local Food Movement</h5>
          <p>Post excerpt, which can be customized or use the beginning of the post, I visited Ed Levin County Park in Milipitas for the first time in years. While others may not loreum ipsum dolor sit amer del consecteteur del...</p>
        </div>                        
      </div>
    </div>
    <div class="latest-news span-12">
      <h5 class="blue span-6">get all the latest news from us</h5>
      <h5 class="subscribe span-6">Subscribe to our newsletter for updates from POST as well as ways you can help protect and care for open space</h5>
      <form id="input-wrapper span-12">
        <input type="text" name="firstname" placeholder="First Name" id="text">
        <input type="text" name="lastname" placeholder="Last Name" id="text">
        <input type="text" name="email" placeholder="Email address" id="text">
        <button class="subscribe-button">Subscribe now</button>
      </form>

    </div>
      <div class="events-area span-12">
        <div class="single-event">
          <div class="event-descriptions span-9">
            <img src="" class="round-images span-2">
            <div class="top-info span-7">
              <div class="left-side">
                <p class="date"></p>
                <p class="event-title"></p>
              </div>
              <div class="right-side">
                <p class="event-location"></p>
                <p class="event-time"></p>
                <p class="event-price"></p>
              </div>
            </div>
            <div class="bottom-info span-7">
              <p>Optional event description. If no description is entered, clicking on an event will take you to the URL for the event details and RSVP (on Eventbrite for example).</p>
            </div>
          </div>
          <div class="learn-more span-3">
            <button type="rsvp">Learn More & RSVP</button>
          </div>
        </div>
        <div class="single-event">
          <div class="event-descriptions span-9">
            <img src="" class="round-images span-2">
            <div class="top-info span-7">
              <div class="left-side">
                <p class="date"></p>
                <p class="event-title"></p>
              </div>
              <div class="right-side">
                <p class="event-location"></p>
                <p class="event-time"></p>
                <p class="event-price"></p>
              </div>
            </div>
            <div class="bottom-info span-7">
              <p>Optional event description. If no description is entered, clicking on an event will take you to the URL for the event details and RSVP (on Eventbrite for example).</p>
            </div>
          </div>
          <div class="learn-more span-3">
            <button type="rsvp">Learn More & RSVP</button>
          </div>
        </div>
        <div class="single-event">
          <div class="event-descriptions span-9">
            <img src="" class="round-images span-2">
            <div class="top-info span-7">
              <div class="left-side">
                <p class="date"></p>
                <p class="event-title"></p>
              </div>
              <div class="right-side">
                <p class="event-location"></p>
                <p class="event-time"></p>
                <p class="event-price"></p>
              </div>
            </div>
            <div class="bottom-info span-7">
              <p>Optional event description. If no description is entered, clicking on an event will take you to the URL for the event details and RSVP (on Eventbrite for example).</p>
            </div>
          </div>
          <div class="learn-more span-3">
            <button type="rsvp">Learn More & RSVP</button>
          </div>
        </div>
        <div class="single-event">
          <div class="event-descriptions span-9">
            <img src="" class="round-images span-2">
            <div class="top-info span-7">
              <div class="left-side">
                <p class="date"></p>
                <p class="event-title"></p>
              </div>
              <div class="right-side">
                <p class="event-location"></p>
                <p class="event-time"></p>
                <p class="event-price"></p>
              </div>
            </div>
            <div class="bottom-info span-7">
              <p>Optional event description. If no description is entered, clicking on an event will take you to the URL for the event details and RSVP (on Eventbrite for example).</p>
            </div>
          </div>
          <div class="learn-more span-3">
            <button type="rsvp">Learn More & RSVP</button>
          </div>
        </div>                        
        <div class="learn-more span-3">
          <button type="rsvp">Learn More & RSVP</button>
        </div>
      </div>
    <div class="donate-now span-12">
      <p class="donate span-6">Help us protect and care for open space, farms and parkland in and around Silicon Valley.</p>
      <button>Donate Now</button>
    </div>
  </div>
<div class="footer-section span-12">
    <div class="footer-top">
      <h5>Stay in touch</h5>
      <ul class="social-icons">
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>                         
      </ul>
    </div>
    <div class="footer-center">
      <div class="subscribe-now span-6">
        <h5 class="subscribe-heading span-4">Subscribe to our newsletter</h5>
        <form id="input-wrapper span-6">
          <input type="text" name="firstname" placeholder="First Name" id="text">
          <input type="text" name="lastname" placeholder="Last Name" id="text">
          <input type="text" name="email" placeholder="Email address" id="text">
          <button class="subscribe-button">Subscribe now</button>
        </form>
      </div>
      <div class="info-post span-3">
        <h5>Peninsula open space trust</h5>
        <p>222 High Street, Palo Alto, CA 94301<br>T: (650) 854-7696 F: (650)854-7703</p>
        <div class="footer-icons">
          <img src="">
          <img src="">
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-links">
        <a href="">Sitemap</a>
        <a href="">Site Credits</a>
        <a href="">Privacy Policy</a>
      </div>
      <p>C 2015 POST, All rights reserved</p>
      <div class="elefint-logo">
        <img src="">
      </div>
    </div>
  </div>
</body>