<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/kaw3hof.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
<body>
  <header class="small-header">
    <div class="left-icon"></div>
    <div class="right-menu">
      <p>contact us</p>
      <button>donate</button>
      <img src="">
    </div>
  </header>
  <ul class="menu">
    <li class="menu-links"><a href=""></a>what we do</li>
    <li class="menu-links"><a href=""></a>about us</li>
    <li class="menu-links"><a href=""></a>news</li>
    <li class="menu-links"><a href=""></a>get involved</li>
    <li class="menu-links"><a href=""></a>ways to give</li>                
  </ul>  
  <div class="single-post-hero hero">
    <div class="single-post container">
      <div class="single-hero-content span-8">
        <div class="single-category span-4">
          <h5 class="post-category">post category</h5>
          <h2 class="post-title">post title</h2>
          <p class="post-date">Posted April 24,</p>
        </div>
        <div class="hero-2-caption">Optional Photo Caption</div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="single-post-info span-8">
      <div class="post-contributor span-4">
        <img src="" class="contributor-image span-1"/>
        <div class="contributor-info">
          <p class="contributor-name span-3">By Krystel Malimban,</p>
          <p class="contributor-title span-3">Communications Intern</p>
        </div>
      </div>
      <div class="post-first-section span-8">
        <h5>headline level 2</h5>
        <p>In 1977, ten visionaries - all local residents who cared deeply about the land - launched the Peninsula Open Space Trust in Menlo Park, Calif. POST was conceived to work in partnership with a then five-year-old public agency called the Midpeninsula Regional Open Space District (MROSD).</p>
        <blockquote>"This is a block quote. Young professionals are city-centric. They want to be involved, make a difference, but they are constantly distracted by white noise and pulled in lots of different directions."<br></blockquote>
        <p class="quote-author">-David, POST Supporter</p>
        <p>POST's charge at the time was to work with private landowners reluctant to deal with government agencies, and to raise money to supplement public funds available for land conservation.</p>
      </div>
      <div class="post-second-section span-10">
        <div class="left-side span-5">
          <h6>Headline Level 3</h6>
          <p>True to their word, POST's founders created a nimble, fast-acting independent organization that would save threatened land by way of bold vision, entrepreneurial instincts and gutsy resolve. POST has since saved over 75,000 acres of open space from South San Francisco to Gilroy.</p>
          <ul>
            <li>Corporate Matching</li>
            <li>Monthly Giving</li>
            <li>Planned Giving</li>
            <li>Giving Societies</li>
          </ul>
        </div>
        <div class="right-side span-5">
          <img src=""/>
          <figcaption>Photo caption: On tablet and desktop, you can float an image to the left or right margin instead of displaying full-width.</figcaption>
        </div>
      </div>
      <div class="post-third-section span-8">
        <p>headline level 4</p>
        <p>Today, POST works closely not only with MROSD and private landowners, but with national, state and county park systems and other agencies to create strong, effective partnerships on behalf of local natural lands.</p>
        <ol>
          <li>Land Campaigns</li>
          <li>Bair Island</li>
          <li>Bolsa Point Ranches</li>
          <li>San Vicente Redwoods</li>
        </ol>
      </div>
    </div>
    <div class="full-width-image">
      <img src=""/>
      <figcaption class="caption span-6">Photo caption: This is an embedded image. On desktop, you will be able to make the images the full width of the content area or full width of the browser.</figcaption>
    </div>
    <div class="video span-8"></div>
    <div class="photo-gallery span-8">
      <h4 class="gallery-heading span-2">photo gallery</h4>
      <p>We will install a plugin that will allow you to embed Flickr photos in a responsive gallery. Clicking an image will open it in a lightbox.</p>
      <div class="double-images span-8">
        <img src="" class="span-4"/>
        <img src="" class="span-4"/>
      </div>
      <div class="single-image span-8">
        <img src=""/>
      </div>
      <div class="double-images span-8"></div>
        <img src="" class="span-4"/>
        <img src="" class="span-4"/>      
    </div>
  </div>

  <div class="footer-section span-12">
    <div class="footer-top">
      <h5>Stay in touch</h5>
      <ul class="social-icons">
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>                         
      </ul>
    </div>
    <div class="footer-center">
      <div class="subscribe-now span-6">
        <h5>Subscribe to our newsletter</h5>
        <form id="input-wrapper">
          <input type="text" name="firstname" placeholder="First Name" id="text">
          <input type="text" name="lastname" placeholder="Last Name" id="text">
          <input type="text" name="email" placeholder="Email address" id="text">
          <button class="subscribe-button">Subscribe now</button>
        </form>
      </div>
      <div class="info-post">
        <h5>Peninsula open space trust</h5>
        <p>222 High Street, Palo Alto, CA 94301<br>T: (650) 854-7696 F: (650)854-7703</p>
        <div class="footer-icons">
          <img src="">
          <img src="">
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-links">
        <a href="">Sitemap</a>
        <a href="">Site Credits</a>
        <a href="">Privacy Policy</a>
      </div>
      <p>C 2015 POST, All rights reserved</p>
      <div class="elefint-logo">
        <img src="">
      </div>
    </div>
  </div>

</body>