<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/kaw3hof.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
<body>
  <header class="small-header">
    <img src="">
    <div class="right-menu">
      <p>contact us</p>
      <button>donate</button>
      <img src="">
    </div>
  </header>
  <ul class="menu">
    <li class="menu-links"><a href=""></a>what we do</li>
    <li class="menu-links"><a href=""></a>about us</li>
    <li class="menu-links"><a href=""></a>news</li>
    <li class="menu-links"><a href=""></a>get involved</li>
    <li class="menu-links"><a href=""></a>ways to give</li>                
  </ul>  
  <div class="staff-page-hero hero">
    <div class="staff-page container">
      <div class="staff-hero-content span-2">
        <h2>staff & board</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <section class="staff-section-one span-12">
      <h5 class="staff-section-title span-2">post staff
      </h5>
      <div class="all-staff-members">
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>        
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>        
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>        
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>        
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>        
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="individual-members span-4">
          <img src="">
          <div class="text">
            <p class="name"></p>
            <p class="title"></p>
            <ul class="socials">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>                              
      </div>
    </section>
    <section class="board-members">
      <h5 class="board-heading span-2">board of directors</h5>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="board-individuals span-3">
        <h6 class="names"></h6>
        <p class="titles"></p>
        <ul class="socials">
          <li><li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="donate-now span-12">
        <p>Help us protect and care for open space, farms and parkland in and around Silicon Valley.</p>
        <button>donate now</button>
      </div>                                 
    </section>
  </div>

  <div class="footer-section span-12">
    <div class="footer-top">
      <h5>Stay in touch</h5>
      <ul class="social-icons">
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>
        <li class="social">
          <a href="">
            <img src="">
          </a>
        </li>                         
      </ul>
    </div>
    <div class="footer-center">
      <div class="subscribe-now span-6">
        <h5>Subscribe to our newsletter</h5>
        <form id="input-wrapper">
          <input type="text" name="firstname" placeholder="First Name" id="text">
          <input type="text" name="lastname" placeholder="Last Name" id="text">
          <input type="text" name="email" placeholder="Email address" id="text">
          <button class="subscribe-button">Subscribe now</button>
        </form>
      </div>
      <div class="info-post">
        <h5>Peninsula open space trust</h5>
        <p>222 High Street, Palo Alto, CA 94301<br>T: (650) 854-7696 F: (650)854-7703</p>
        <div class="footer-icons">
          <img src="">
          <img src="">
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-links">
        <a href="">Sitemap</a>
        <a href="">Site Credits</a>
        <a href="">Privacy Policy</a>
      </div>
      <p>C 2015 POST, All rights reserved</p>
      <div class="elefint-logo">
        <img src="">
      </div>
    </div>
  </div>

</body>