<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/kaw3hof.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
<body>
  <header class="small-header">
    <div class="left-icon"></div>
    <div class="right-menu">
      <p>contact us</p>
      <button>donate</button>
      <img src="">
    </div>
  </header>
  <ul class="menu">
    <li class="menu-links"><a href=""></a>what we do</li>
    <li class="menu-links"><a href=""></a>about us</li>
    <li class="menu-links"><a href=""></a>news</li>
    <li class="menu-links"><a href=""></a>get involved</li>
    <li class="menu-links"><a href=""></a>ways to give</li>                
  </ul>  
  <div class="wwd-page-hero hero">
  </div>

  <div class="container">
    <div class="side-nav span-4">
      <div class="side-nav-hero hero">
        <h2>what we do</h2>
      </div>
      <p class="what-post-does">Whether it be open space, farms or parkland, POST is dedicated to protecting and insuring the care of these properties forever. We do this in partnership with a variety of public and private agencies and foundations, and through the generous support of our donors.</p>
      <ul class="spaces-types"><h5>the types of spaces we save</h5>
        <li>
          <img src="">
          <a>Farmland</a>
        </li>
        <li>
          <img src="">
          <a>Parkland</a>
        </li>
        <li>
          <img src="">
          <a>Coastal Land</a>
        </li>
        <li>
          <img src="">
          <a>Bayland</a>
        </li>
        <li>
          <img src="">
          <a>Redwoods</a>
        </li>
        <li>
          <img src="">
          <a>Rangeland</a>
        </li>
      </ul>
      <div class="explore-button">
        <h5>explore by land type</h5>
        <img src="">
      </div>
    </div>
    <div class="map span-8"></div>

</body>