<div class="site-notice closed">
	<div class="container">
		<div class="notice-text">
			<span class="heading">{{ notice.alert }}</span>
			{{ notice.text }}
		</div>
		<button class="close"></button>
	</div>
</div>