/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, style/sass/site-notice.scss */
.site-notice {
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  background: blue;
  color: #ccc;
  overflow: hidden;
  opacity: 1;
  min-height: 56px;
  max-height: 500px;
  transition: 500ms all linear;
  z-index: 1012;
}
/* line 25, style/sass/site-notice.scss */
.site-notice .container {
  padding: 20px 0;
  padding-right: 40%;
  display: block;
  min-height: 56px;
}
/* line 32, style/sass/site-notice.scss */
.site-notice .container .notice-text * {
  display: inline;
}
/* line 33, style/sass/site-notice.scss */
.site-notice .container .notice-text .heading {
  margin-right: 5px;
}
/* line 34, style/sass/site-notice.scss */
.site-notice .container .notice-text p {
  line-height: 1.5em;
}
/* line 38, style/sass/site-notice.scss */
.site-notice .close {
  background-color: transparent;
  background-image: url("style/images/icon-close-white.png");
  background-size: cover;
  bottom: auto;
  border: none;
  display: inline-block;
  height: 11px;
  outline: none;
  padding: 0;
  position: absolute;
  margin: auto;
  right: 20px;
  top: 17px;
  width: 12px;
}
/* line 53, style/sass/site-notice.scss */
.site-notice .close:hover {
  background-image: url("style/images/icon-close-blue.png");
}
/* line 59, style/sass/site-notice.scss */
.site-notice span {
  display: inline;
}
/* line 61, style/sass/site-notice.scss */
.site-notice span.heading {
  font-weight: bold;
}
/* line 66, style/sass/site-notice.scss */
.site-notice.closed {
  max-height: 0px;
  min-height: 0px;
}
