.page.leadership{

	h2{ 
		display: inline-block; 
		width: 100%;
		clear:both;
		margin: gutter() 0;
		text-align: center;
	}
	.member {
		margin-bottom: gutter();
		position: relative;
		border: 3px solid white;
		outline: 1px solid $lightgray;
		height: 30vw;
		background-size: 100% auto;

		&:hover {
			background-size: 120% auto;
			background-position: 70% 10%;
		}

		@include border-radius(3px);
		hgroup{
			position: absolute;
			bottom: 1em;
			width: 100%;
			text-align: center;
			opacity: 1;
			@include transition-property(all);
			@include transition-duration(.25s);
			@include transition-timing-function(ease-in);

			h3 {
				color: white;
				line-height: 1.3em;

			}
			h5 {
				color: $lightgray;
			}
		}
		@include breakpoint($mobile){
			padding-bottom: 30%;
			margin-bottom: 50px;
			background-size: 100% auto;
			@include transition-property(all);
			@include transition-duration(.25s);
			@include transition-timing-function(ease-in);

			&:hover{ 
				background-size: 120% auto; 
				hgroup { opacity: 0; }
			}
		}
	}

	.member-modal{
		display: none;
		&.open{ display: block; }
		span.close { background-image: $close-gray; &:hover{ background-image: $close-blue; } }
		.pager {
			display: block;
			position: absolute;
			bottom: 0;
			background: $green;
			width: 100%;
			@include Body;
			color: white;
			span {
				display: inline-block;
				width: 40%;
			}

			span:not(:empty) {
				padding: 10px;
			}
			.next { float: right; text-align: right; &:after{ content: ' >' } }
			.prev { float: left; &:before{ content: '< ' } }
		}
	}

	@include breakpoint($mobile){
		.member{
			@include span(12);
			background-size: 30% auto;
			background-repeat: no-repeat;
			padding-left: 30%;
			margin-bottom: 5px;
			hgroup{
				position: relative;
				bottom: auto;
				padding: 20px; 
				text-align: left;
				h3, h5 { color: $charcoal; }
				
				h3{ @include Header4; }
				h5{ @include Header6; }
			}
		}
		.member-modal.modal{ 
			overflow-y: scroll;
			.container{
				position: relative;
				min-height: 100vh;
				@include span(11 at 1.5);
				overflow: hidden;
			}
			.close { 
				z-index: 1000; 
			}
		}
	}

	.member{
		&:before {
			content:'';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			@include bottom-gradient;
		}
	}

	.member-modal{
		overflow: scroll;
		background: $lightgray;
		.close { background-image: $close; width: 18px; height: 16px; }
		.container { padding:0; border-top-color: $green; }
		.thumb {
			height: 640px; overflow: hidden;
			img { width: 100%; height: auto; }
		}
		.content { 
			padding:40px; 
			h2,h4 { text-align: center;}
			h2 { margin-bottom: 10px; @include Header2; color: $green; margin-top: 0; }
			h4 { margin-bottom: span(1); color: $textgray; @include Body; }
			p{ @include Body; line-height: 1.3em; }
		}
	}
}