@import "compass";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";

$image-path: 'style/scss/guide/image/';

// Variables
/// Colors 
$textgray: #838c99;
$textlightgray: #b7cddb;
$textblue: #0079c0;

$charcoal: #41546b;
$darkgreen: #40ad33;
$green: #54b848;
$lightgreen: #85d866;
$seagreen: #00918e;
$orange: #f7aa27;
$darkorange: #f29a06;
$lightorange: #f7d127;
$teal: #b7cddb;
$blue: #2a425e;
$lightblue: #e5eef5;
$paleblue: #f1f7fc;	
$hoverblue: #7fa3ba;
$lightgray: #eeeeee;
$backgroundgray: #f9fbfc;

/// Images

/// Icons
$menu: "\f0c9";
$right-nav-arrow: "\f105";
$left-nav-arrow: "\f104";
$up-nav-arrow: "\f106";
$down-nav-arrow: "\f107";
$close: url(#{$image-path}close/white.png);
$close-gray: url(#{$image-path}close/default.png);
$close-blue: url(#{$image-path}close/hover.png);

$contact-icon: "\f003";
$location-icon: "\f041";
$lock-icon: "\f023";
$search-icon: "\f002";
$security-icon: "\f132";
$support-icon: "\f0e5";
$alert-icon: "\f071";
$plus: url(#{$image-path}accordion-icons/plus.png);
$minus: url(#{$image-path}accordion-icons/minus.png);

$facebook-social: "\f09a";
$twitter-social: "\f099";
$linkedin-social: "\f0e1";


/////About
$who-we-finance: url(#{$image-path}about-icons/who-we-finance.png);
$sustainability: url(#{$image-path}about-icons/sustainability.png);
$investors: url(#{$image-path}about-icons/investors.png);
$board: url(#{$image-path}about-icons/board.png);
$awards: url(#{$image-path}about-icons/awards.png);
$careers: url(#{$image-path}about-icons/careers.png);

.content, .links {
	.who-we-finance{ &:before{ content: ''; background-image: $who-we-finance; } }
	.sustainability{ &:before{ content: ''; background-image: $sustainability; } }
	.investor-relations{ &:before{ content: ''; background-image: $investors; } }
	.leadership{ &:before{ content: ''; background-image: $board; } }
	.awards-recognition{ &:before{ content: ''; background-image: $awards; } }
	.careers{ &:before{ content: ''; background-image: $careers; } }
}

////Solutions 
$bcorps: url(#{$image-path}solution-icons/B-Corps.png);
$clean-energy: url(#{$image-path}solution-icons/Clean-Energy.png);
$green-building: url(#{$image-path}solution-icons/Green-Building.png);
$individuals: url(#{$image-path}solution-icons/Individuals.png);
$natural-products: url(#{$image-path}solution-icons/Natural-Products.png);
$sustainable-business: url(#{$image-path}solution-icons/Sustainable-business.png);
$nonprofits: url(#{$image-path}solution-icons/nonprofits.png);

.b-corps{ &:before{ background-image: $bcorps; } }
.clean-energy{ &:before{ background-image: $clean-energy; } }
.green-building, .green-real-estate{ &:before{ background-image: $green-building; } }
.individuals{ &:before{ background-image: $individuals; } }
.nonprofits, .non-profit-landing{ &:before{ background-image: $nonprofits; } }
.natural-organic-products, .organic-food-and-products{ &:before{ background-image: $natural-products; } }
.sustainably-managed-business, .sustainably-managed-business, .sustainable-company{ &:before{ background-image: $sustainable-business; } }

//Client Solutions
$cash-management: url(#{$image-path}client-solutions-icons/cash-management.png);
$checking: url(#{$image-path}client-solutions-icons/checking.png);
$credit-card: url(#{$image-path}client-solutions-icons/credit-card.png);
$debit-card: url(#{$image-path}client-solutions-icons/debit-card.png);
$impact: url(#{$image-path}client-solutions-icons/impact.png);
$lending: url(#{$image-path}client-solutions-icons/lending.png);
$online-banking: url(#{$image-path}client-solutions-icons/online-banking.png);
$savings: url(#{$image-path}client-solutions-icons/savings.png);

.cash-management{ &:before{ background-image: $cash-management; } }
.checking, .business-checking, .impact-checking { &:before{ background-image: $checking; } }
.savings-and-money-market{ &:before{ background-image: $savings; } }
.impact-credit-cards{ &:before{ background-image: $credit-card; } }
.impact-debit-cards{ &:before{ background-image: $debit-card; } }
.online-banking{ &:before{ background-image: $online-banking; } }
.lending, .commercial-lending{ &:before{ background-image: $lending; } }
.impact-cds{ &:before{ background-image: $impact; } }

.icon {
	display: inline-block;
	&:before{
		content: '';
		display: inline-block;
		width: 45px;
		height: 45px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		vertical-align: middle;
		margin-right: 1em;
		margin-bottom: 1em;
	}
}


//Mixins
/// Typography
@mixin Body(){
	font-size: 14px;
	font-family: "fira-sans";
	font-weight: 400;
	line-height: 1.4em;
	color: $charcoal;

	@include breakpoint($mobile){
		// font-size: 10px;
	}
}

@mixin Paragraph(){
	font-family: "Helvetica", sans-serif;
	font-size: 14px;
	line-height: 1.3em;
}

@mixin Header1(){
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 40px;
	line-height: 1em;

	// @include breakpoint($mobile){ 
	// 	font-size: 18px;
	// }
}

@mixin Header2(){
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 30px;
	line-height: 1.1em;

	// @include breakpoint($mobile){
	// 	font-size: 17px;
	// }
}

@mixin Header3(){
	font-family: "Helvetica";
	font-size: 18px;
	font-weight: bold;
	color: $textgray;
	line-height: 1.3em;

	@include breakpoint($mobile){
		font-size: 18px;
		line-height: 1.4em;
	} 
}

@mixin Header4(){
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 18px;
}

@mixin Header5(){
	font-family: "fira-sans","Helvetica";
	font-weight: 600;
	font-size: 15px;
	color: $textgray;
}

@mixin Header6(){
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 12px;
	color: $charcoal;
}

@mixin Quote{
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 22px;
	color: $textblue;
	p { 
		color: $textblue; 
		font-family: "Helvetica";
		font-weight: bold;
	}
}

@mixin link{
	color: $green;
}

@mixin mainNav(){
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 14px;	
}

@mixin smallNav(){
	font-family: "fira-sans";
	font-size: 12px;
}

/// UI 
@mixin absoluteCenter(){
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
@mixin button($type) {
	display: inline-block;
	border: none;
	padding: 8px 10px;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	text-align: center;

	&.fill{
		background: $orange;
		border-top: 2px solid $lightorange;
		&:hover { background: $darkorange; }
	}

	&.open{
		background: none; 
		border: 2px solid white;
		font-family: 'Helvetica';
		font-weight: bold;
		font-size: 15px;
		color: white;
		text-align: center;
		@include border-radius(2px);

	}	

	@if $type == "fill" {
		background: $orange;
		border-top: 2px solid $lightorange;
		&:hover { background: $darkorange; }
	} @else if $type =="open" {
		background: none; 
		border: 2px solid white;
		font-family: 'Helvetica';
		font-weight: bold;
		font-size: 15px;
		color: white;
		text-align: center;
		@include border-radius(2px);		
	}
}

@mixin fa-icon($icon){
	content: $icon;
	font-family: "FontAwesome";
	font-size: 18px;
}

@mixin open-button(){}
@mixin checkbox(){}
@mixin gallery-paging-bubbles(){}
@mixin input-text {}
@mixin input-textarea {}
@mixin input-text-submit {}
@mixin arrow($direction){
	&:after{
		font-family: "FontAwesome";
		display: inline-block;
		
		@if $direction == "left" {
			content: $left-nav-arrow;
			margin-right: 5px;
		}
		@if $direction == "right" {
			content: $right-nav-arrow;
			margin-left: 5px;
		}
	}
}
@mixin social($color) {
	display: inline-block;
	a {	
		display: inline-block; 
		padding: 7px; 
		width: 40px;
		height: 40px;
		font-size: 22px;
		line-height: 1em;
		border: 3px solid $color; 
		margin-right: 5px;
		text-align: center;
		@include border-radius(20px);

		&:before {
			font-family: 'FontAwesome';
			color: $color;
		}
		&.facebook:before{ content: $facebook-social; }
		&.twitter:before{ content: $twitter-social; }
		&.linkedin:before{ content: $linkedin-social; }

		&:hover {
			background: $color;
			&:before { color: white; }
		}
	}
}

